<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.krastaffapp">


    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />



    <application
        android:name=".helper.AppController"
        android:fullBackupOnly="true"
        android:icon="@drawable/kra_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/kra_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KRAStaffApp"
        tools:targetApi="m">

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity android:name=".ActivitySplashScreen"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.LoginActivity" />
        </activity>

        <activity android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="OPEN_NOTIF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.MainActivity" />
        </activity>

        <activity android:name=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.LaunchActivity" />
        </activity>

        <activity android:name=".registration.OtpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.registration.OtpActivity" />
        </activity>

        <activity android:name=".registration.SetPassActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.registration.SetPassActivity" />
        </activity>

        <activity android:name=".registration.StaffidActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.registration.StaffidActivity" />
        </activity>

        <activity android:name=".CallerShortcut">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.CallerShortcut"/>
        </activity>

        <activity android:name=".checkinout.CheckinoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.checkinout.CheckinoutActivity"/>
        </activity>

        <activity android:name=".checkinout.LaptopManActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.checkinout.LaptopManActivity"/>
        </activity>

        <activity android:name=".CheckinActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.CheckinActivity"/>
        </activity>

        <activity android:name=".CheckoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.CheckoutActivity"/>
        </activity>

        <activity android:name=".checkinout.LaptopQRActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.checkinout.LaptopQRActivity"/>
        </activity>


        <activity android:name=".ui.embeddedapps.MedismartAppMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.checkinout.LaptopQRActivity"/>
        </activity>

        <activity android:name=".ui.embeddedapps.IsupportAppMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krastaffapp.checkinout.LaptopQRActivity"/>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.SmsBroadcastReceiver"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>